<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title>bzrwc</title>
  <style type="text/css">
    body {
      font-family: sans-serif;
    }
    h1 {
      font-size: x-large;
    }
    a {
      background: transparent;
      color: black;
    }
    a:hover {
      color: #204A87;
    }
    ul {
      padding-left: 1.5em;
    }
    .chart {
      margin: 0.2em;
      float: left;
    }
    #footer {
      clear: both;
      font-size: small;
      padding: 1em 0.3em 0;
    }
  </style>
</head>
<body>
  <h1>
    {% block header %}
      <a href="{% url repository-list %}">bzrwc</a>
    {% endblock %}
  </h1>

  {% block content %}{% endblock %}

  <p id="footer">bzrwc by Stein Magnus Jodal</p>
</body>
</html>
