{% extends "bzrwc/base.html" %}

{% block header %}
  {{ block.super }} &ndash;
  <a href="{% url repository-list-user object.owner.username %}">
    {{ object.owner }}</a>
  &ndash;
  {{ object.name }}
  &ndash;
  {{ unit_name }}
{% endblock %}


{% block content %}
  {% if not charts %}
    <p>No charts found.</p>
  {% else %}
    <p id="units">
      Unit:
      {% for key, value in charts.0.CHART_UNIT_CHOICES %}
        <a href="?unit={{ key }}">{{ value }}</a>
      {% endfor %}
    </p>

    <div id="charts">
      {% for chart in charts %}
        <img id="chart-{{ object.owner }}-{{ object.slug }}-{{ chart.slug }}" class="chart" src="{% url chart object.owner.username,object.slug,chart.slug %}{% if unit %}?unit={{ unit }}{% endif %}" alt="{{ chart.name }}" />
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
